<div class="row">
  <div class="col-sm-11" class="row">
    <div>
    <ng-container #category *ngIf="categories$ | async as categories">
      <app-auto-filter-dropdown #categoryDropdown
        [itemList]="categories"
        (valueChange)="handleSelectedValueChange($event)"
      ></app-auto-filter-dropdown>
    </ng-container>
    </div>

    <div *ngIf="subCategories$ | async as subCategoriesList">
      <ng-container *ngIf="subCategoriesList.length > 0">
        <app-auto-filter-dropdown 
        [itemList]="subCategoriesList"
        (valueChange)="handleSelectedSubValueChange($event)"
      ></app-auto-filter-dropdown>
      </ng-container>
    </div>
    <ng-template #noSubCategory></ng-template>
    <div>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    </div>
    <div>
      <button class="primary" id="createBtn" (click)="createQuiz(selectedValue, subCategoryValue, difficulty.value)">Create</button>

  </div>
  </div>
</div>

<div class="row">
   <app-quiz [questions]="questions$ | async"></app-quiz>
</div>

